@using Microsoft.AspNetCore.Components

<li>
    <input class="form-check-input" type="checkbox" id="task-@Id" value="task-@Id-completed" @bind="IsCompleted" />
    <label class="form-check-label" for="task-@Id">
        <p>@Title (Due: @DueDate)</p>
    </label>
</li>


@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Parameter]
    public DateOnly DueDate { get; set; }

    [Parameter]
    public bool IsCompleted { get; set; }
}